
.todo-list-item {
    font-size: 1.25rem;
  }
  
  .todo-list-item button {
    margin: 3px;
  }
  
  .todo-list-item-label {
    line-height: 35px;
    cursor: pointer;
    user-select: none;
  }
  
  .todo-list-item.done .todo-list-item-label {
    text-decoration: line-through;
  }
  
  .todo-list-item.important .todo-list-item-label {
    font-weight: bold;
    color: dodgerblue;
  }

  .geek-dust-bunny-danger, .geek-dust-bunny-s {
    font-size: 1.5rem;
  }